In [2]:
from inspect import signature as sig
from pprint import pprint as pp

import pandas as pd

### 1. Series 만들기

### 데이터프레임 한 개의 열(column)또는 행(row)을 시리즈(Series)라고 부른다.

In [6]:
series = pd.Series(data=['banana',23])

In [7]:
series.describe()  # 기초 통계량을 구해주는 메소드

count          2
unique         2
top       banana
freq           1
dtype: object

In [8]:
dir(series)  # DataFrame의 구성멤버와 거의 비슷하다.

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [9]:
series2 = pd.Series(data=['NAME_1','NAME_2','NAME_3'])
series2

0    NAME_1
1    NAME_2
2    NAME_3
dtype: object

In [10]:
series2.shape

(3,)

In [11]:
series.ndim

1

In [12]:
series.index

RangeIndex(start=0, stop=2, step=1)

In [13]:
list(series.index)

[0, 1]

In [16]:
series2.values

array(['NAME_1', 'NAME_2', 'NAME_3'], dtype=object)

In [18]:
series2.describe()    # freq: frequency. 빈도수

count          3
unique         3
top       NAME_1
freq           1
dtype: object

In [53]:
series3 = pd.Series(
    data = ['NAME_1','NAME_2'],
    index = ['Person1','Person2']
)

series3

Person1    NAME_1
Person2    NAME_2
dtype: object

In [ ]:
# df_1 = pd.DataFrame(
#     data=<딕셔너리>  key가 데이터프레임의 컬럼명, 값은 해당 컬럼의 값. 하나하나가 시리즈이다. 
# )

In [72]:
df_1 = pd.DataFrame(
    data = {
    'Name' : ['yoseph','trinity'],
    'Job' : ['SW engineer', 'Driver'],
    'Born' : ['1994-01-01','2000-01-01'],
    'Age' : [23,27]
    },
    
    index = ['Person1','Person2'],
    columns = ['Name','Born','Job']  # 기존 딕셔너리에 지정된 컬럼의 순서를 제어하거나, 보여줄 컬럼만 지정할 수 있다.    

)

In [24]:
df_1

      Name          Job        Born  Age
0   yoseph  SW engineer  1994-01-01   23
1  trinity       Driver  2000-01-01   27

In [33]:
df_1.iloc[1]

Name       trinity
Job         Driver
Born    2000-01-01
Age             27
Name: Person2, dtype: object

In [34]:
list(df_1.columns)

['Name', 'Job', 'Born', 'Age']

In [35]:
df_1.index

Index(['Person1', 'Person2'], dtype='object')

In [39]:
df_1.values

array([['yoseph', 'SW engineer', '1994-01-01', 23],
       ['trinity', 'Driver', '2000-01-01', 27]], dtype=object)

In [73]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Person1 to Person2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Born    2 non-null      object
 2   Job     2 non-null      object
dtypes: object(3)
memory usage: 64.0+ bytes

In [71]:
df_1.describe()

             Age
count   2.000000
mean   25.000000
std     2.828427
min    23.000000
25%    24.000000
50%    25.000000
75%    26.000000
max    27.000000

In [67]:
df_1.Age.describe()

count     2.000000
mean     25.000000
std       2.828427
min      23.000000
25%      24.000000
50%      25.000000
75%      26.000000
max      27.000000
Name: Age, dtype: float64

In [55]:
# 사분위수(=quartile):
#     1. 최소값
#     2. 25%에 해당되는 값
#     3. 50%에 해당되는 값
#     4. 75%에 해당되는 값
#     5. 최대값

In [ ]:
df_2 = pd.DataFrame(
    data = {
    'Name' : ['yoseph','trinity'],
    'Job' : ['SW engineer', 'Driver'],
    'Born' : ['1994-01-01','2000-01-01'],
    'Age' : [23,27]
    },
    
    index = ['Person1','Person2'],
   
)