In [2]:
a = [1,2,3,4]
result = [num * 3 for num in a]
result

[3, 6, 9, 12]

In [3]:
a

[1, 2, 3, 4]

In [4]:
for element in a:
    result.append(element)

result

[3, 6, 9, 12, 1, 2, 3, 4]

In [5]:
a.clear()

In [6]:
result.clear()

In [7]:
a= [1,2,3,4]
for element in a:
    result.append(element*3)
    pass
else:
    print('copy & mapping done')
    pass

copy & mapping done

In [8]:
a = [1,2,3,4,5]

In [9]:
result.clear()

In [10]:
result = [element*3 for element in a]

In [11]:
result = (element * 3 for element in a)

In [12]:
type(result)

generator

In [13]:
for element in result:
    print(element)

3
6
9
12
15

In [15]:
result = { element *3 for element in a }

In [18]:
a= {1:10, 2:20,3:30,4:40,5:50}

In [20]:
result = { element * 3 for element in a}

In [21]:
result

{3, 6, 9, 12, 15}

In [22]:
# List comprehension 안에는 if문도 사용할 수 있다 : 필터링 목적

a= [1,2,3,4]

In [23]:
result = [element*3 for element in a if element%2 ==0]

In [24]:
b = ['*']*4
b

['*', '*', '*', '*']

In [25]:
result = [i for i in a for y in b]

In [28]:
result = [(x,y) for x in range(2,10)
                for y in range(1,10)]

In [29]:
result

[(2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [30]:
a= {1:10,2:20,3:30}

In [31]:
a(1)

TypeError: 'dict' object is not callable

In [33]:
a.get(1)

10

In [34]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
dict(range(1,10))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [37]:
set(range(1,10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
result = [a.get(i) for i in a]

In [44]:
result = [(단수*number) for 단수 in range(2,10)
              for number in range(1,10)]

In [45]:
result

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [50]:
result1.clear()

In [51]:
result1=[a[i] for i in a]